In [5]:
import numpy as np
import pandas as pd


train = pd.read_csv('./data/train.csv', encoding='big5')
train.head()

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,豐原,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [6]:
train = train.sort_values(['日期', '測項'], ascending = [True, True])
train.head()

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,豐原,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [28]:
train[train['測項'] == 'PM2.5'].head()

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
9,2014/1/1,豐原,PM2.5,26,39,36,35,31,28,25,...,36,45,42,49,45,44,41,30,24,13
171,2014/1/10,豐原,PM2.5,6,7,7,0,0,1,1,...,23,20,18,15,16,10,6,11,22,28
189,2014/1/11,豐原,PM2.5,25,21,25,24,23,18,20,...,36,36,29,32,33,30,40,36,46,41
207,2014/1/12,豐原,PM2.5,48,56,62,52,40,32,37,...,19,24,25,14,16,22,23,18,6,9
225,2014/1/13,豐原,PM2.5,10,10,10,13,18,16,7,...,18,29,38,43,44,48,47,36,25,23

In [14]:
print(' num of feature: {}'.format(len(train['測項'].unique())))
train['測項'].unique()

 num of feature: 18

array(['AMB_TEMP', 'CH4', 'CO', 'NMHC', 'NO', 'NO2', 'NOx', 'O3', 'PM10',
       'PM2.5', 'RAINFALL', 'RH', 'SO2', 'THC', 'WD_HR', 'WIND_DIREC',
       'WIND_SPEED', 'WS_HR'], dtype=object)

In [13]:
len(train['日期'].unique())

240

In [19]:
train_data = train.copy()

PM25_only = True
if PM25_only: 
    train_data = train_data[train_data['測項'] == 'PM2.5']
train_data = train_data.iloc[:, 3:]
train_data[train_data == 'NR'] = 0
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
9,26,39,36,35,31,28,25,20,19,30,...,36,45,42,49,45,44,41,30,24,13
171,6,7,7,0,0,1,1,7,7,8,...,23,20,18,15,16,10,6,11,22,28
189,25,21,25,24,23,18,20,14,7,17,...,36,36,29,32,33,30,40,36,46,41
207,48,56,62,52,40,32,37,31,34,32,...,19,24,25,14,16,22,23,18,6,9
225,10,10,10,13,18,16,7,5,2,11,...,18,29,38,43,44,48,47,36,25,23

In [20]:
train_numpy = train_data.to_numpy()
train_numpy.shape

(240, 24)

In [31]:
month_data = {}

n_month, n_day, n_hour = 12, 20, 24
for month in range(n_month):
    sample = np.empty([1, n_day * n_hour], dtype = float)
    for day in range(n_day):
        sample[:, day * 24 : (day + 1) * 24] = train_numpy[month * 20 + day: month * 20 + day + 1, :]
    month_data[month] = sample
    
month_data.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

In [66]:
month_data[0]

array([[ 26.,  39.,  36.,  35.,  31.,  28.,  25.,  20.,  19.,  30.,  41.,
         44.,  33.,  37.,  36.,  45.,  42.,  49.,  45.,  44.,  41.,  30.,
         24.,  13.,   6.,   7.,   7.,   0.,   0.,   1.,   1.,   7.,   7.,
          8.,   4.,   8.,  12.,  19.,  23.,  20.,  18.,  15.,  16.,  10.,
          6.,  11.,  22.,  28.,  25.,  21.,  25.,  24.,  23.,  18.,  20.,
         14.,   7.,  17.,  31.,  44.,  43.,  46.,  36.,  36.,  29.,  32.,
         33.,  30.,  40.,  36.,  46.,  41.,  48.,  56.,  62.,  52.,  40.,
         32.,  37.,  31.,  34.,  32.,  33.,  31.,  21.,  20.,  19.,  24.,
         25.,  14.,  16.,  22.,  23.,  18.,   6.,   9.,  10.,  10.,  10.,
         13.,  18.,  16.,   7.,   5.,   2.,  11.,   8.,  21.,  17.,  23.,
         18.,  29.,  38.,  43.,  44.,  48.,  47.,  36.,  25.,  23.,  29.,
         23.,  21.,  21.,  30.,  26.,  26.,  26.,  23.,  16.,   4.,   6.,
          6.,   8.,  10.,   6.,   4.,   7.,  14.,  20.,  17.,  14.,  13.,
          9.,   9.,   4.,   8.,   5.,  14.,  11.,  13.,   4.,   9.,  15.,
         23.,  23.,  18.,  10.,   4.,  13.,  14.,  18.,  20.,  25.,  24.,
         14.,  15.,  22.,  24.,  16.,   7.,   7.,   6.,   5.,   2.,  17.,
         15.,  33.,  25.,  30.,  15.,  20.,  30.,  41.,  38.,  34.,  27.,
         26.,  27.,  22.,  28.,  29.,  27.,  25.,  22.,  23.,  22.,  22.,
         23.,  11.,   2.,  18.,  31.,  36.,  22.,  22.,  16.,  20.,  16.,
         34.,  32.,  27.,  17.,  22.,  24.,  17.,  17.,  26.,  25.,  24.,
         10.,   7.,  11.,  16.,  19.,   9.,   8.,   6.,  32.,  50.,  81.,
         90., 109., 109., 105., 102., 106., 107.,  92.,  80.,  64.,  52.,
         36.,  41.,  46.,  48.,  38.,  21.,  11.,  11.,  40.,  64.,  75.,
         62.,  50.,  57.,  66.,  72.,  77.,  72.,  75.,  72.,  69.,  62.,
         21.,  23.,  30.,  30.,  22.,  18.,  13.,  13.,  11.,  22.,  25.,
         34.,  38.,  50.,  53.,  43.,  43.,  45.,  46.,  32.,  16.,  19.,
         22.,  26.,  61.,  59.,  60.,  48.,  53.,  60.,  66.,  53.,  55.,
         57.,  57.,  51.,  46.,  -1.,  51.,  47.,  44.,  46.,  46.,  39.,
         18.,  19.,  23.,  34.,  19.,  25.,  27.,  20.,  16.,  14.,  15.,
          8.,   4.,   9.,  16.,  22.,  23.,  29.,  32.,  36.,  34.,  45.,
         40.,  41.,  23.,  29.,  23.,  37.,  27.,  27.,  14.,  20.,  22.,
         24.,  26.,  33.,  48.,  50.,  49.,  45.,  63.,  63.,  62.,  55.,
         56.,  67.,  78.,  83.,  90.,  75.,  85.,  82.,  80.,  80.,  76.,
         81.,  75.,  66.,  70.,  65.,  66.,  57.,  56.,  64.,  67.,  72.,
         64.,  73.,  57.,  57.,  53.,  70.,  70.,  60.,  68.,  66.,  66.,
         55.,  46.,  46.,  46.,  42.,  35.,  35.,  40.,  45.,  48.,  57.,
         57.,  59.,  62.,  59.,  61.,  50.,  60.,  62.,  62.,  50.,  45.,
         43.,  41.,  32.,  35.,  31.,  33.,  25.,  36.,  28.,  33.,  29.,
         42.,  56.,  66.,  78.,  62.,  61.,  47.,  54.,  57.,  59.,  61.,
         43.,  39.,  38.,  48.,  53.,  60.,  60.,  52.,  47.,  45.,  50.,
         43.,  40.,  42.,  41.,  39.,  36.,  35.,  36.,  36.,  32.,  33.,
         33.,  34.,  21.,  15.,  13.,  18.,  15.,   9.,   9.,  14.,  15.,
         20.,  16.,  23.,  16.,  17.,   9.,   7.,   7.,  20.,  20.,  20.,
         18.,  18.,  22.,  15.,  11.,   1.,   1.]])

In [75]:
time_range = 9

x = np.zeros([(n_day * 24 - time_range) * n_month, time_range], dtype = float)
y = np.zeros([(n_day * 24 - time_range) * n_month, 1], dtype = float)

index = 0
for month in range(n_month):
    for i in range(month_data[month].shape[1] - 9):
        x[index: index + 1, :] = month_data[month][:, i: i + 9]
        y[index: index + 1, :] = month_data[month][:, i + 9: i + 10]
        index += 1
    

x.shape, y.shape

((5652, 9), (5652, 1))

## Normalization

In [96]:
mean_x = np.mean(x)
std_x = np.std(x)

norm_x = (x - mean_x) / std_x

# Train

### split into train / validation

In [97]:
n, percentage = len(x), 0.8
train_x, val_x = norm_x[: int(n * 0.8)], norm_x[int(n * 0.8):]
train_y, val_y = y[: int(n * 0.8)], y[int(n * 0.8):]

print(train_x.shape, train_y.shape)
print(val_x.shape, val_y.shape)

(4521, 9) (4521, 1)
(1131, 9) (1131, 1)

In [105]:
# add bias
train_X = np.concatenate((train_x, np.ones((train_x.shape[0], 1))), axis = 1)
# init weight
w = np.random.random((train_X.shape[1], 1))

learning_rate = 100
iter_time = 10000
adagrad = np.zeros((train_X.shape[1], 1))
eps = 10 ** -10
for iter_ in range(iter_time):
    loss = np.sqrt(np.sum(np.power(np.dot(train_X, w) - train_y, 2)) / train_X.shape[0]) # Root Mean Square Error
    
    if(iter_ % 1000 == 0):
        print('{iter_} : {loss}'.format(iter_ = iter_, loss = loss))
        
    gradient = 2 * np.dot(train_X.transpose(), np.dot(train_X, w) - train_y) # dim * 1
    adagrad += gradient ** 2
    w = w - learning_rate * gradient / np.sqrt(adagrad + eps)
np.save('weight.npy', w)

0 : 26.215827648036232
1000 : 6.425383195981835
2000 : 6.425179547326216
3000 : 6.425179387910589
4000 : 6.425179387719073
5000 : 6.425179387718779
6000 : 6.425179387718779
7000 : 6.425179387718778
8000 : 6.425179387718778
9000 : 6.425179387718777

## Test